/*Базовые стили*/
html,
body {
	min-width: 1440px;
	min-height: 2476px;
}

body {
	background-image: url(../image/nerds-index.jpg);
	background-size: 1440px auto;
	background-position: top center;
	background-repeat: no-repeat;
}

.inner__page  {
	background-image: url(../image/nerds-catalog.jpg);
	background-size: 1440px auto;
	background-position: top center;
	background-repeat: no-repeat;
}

.inner__page .wrap__header {
	margin-bottom: 50px;
	/*Временно для сетки*/
	min-height: 350px;
}

.container {
	width: 1200px;
	padding: 0;
	margin: 0 auto;
}

.wrap__header {
	margin-bottom: 70px;
	/*Временно для сетки*/
	min-height: 545px;
	background-color: transparent;
}

.inner__page .header {
	margin-bottom: 3px;
	/*Временно для сетки*/
	min-height: 100px;
}

.navigation {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	background-color: transparent;
	/*Временно для сетки*/
	min-height: 100px;
}

.navigation__logo {
	width: 180px;
	 /*Временно для сетки*/
	min-height: 80px;
}

.navigation__list {
	width: 560px;
	/*Временно для сетки*/
	min-height: 100px;
}

.navigation__cart {
	width: 140px;
	/*Временно для сетки*/
	min-height: 100px;
}


.map {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 30px;
	/**/
	min-height: 415px;
}

.map__box {
	width: 320px;
	margin-left: 138px;
	/**/
	min-height: 310px;
}

.footer {
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
	min-height: 200px;
}

.footer__socials {
	width: 260px;
	/**/
	min-height: 80px;
}

.footer__discount {
	margin-left: 100px;
	width: 760px;
	min-height: 80px;
}

/*Сетчатые стили главной страницы*/

.slides {
	width: 1170px;
	margin: 0 15px 70px 15px;
	/*Временно для сетки*/
	min-height: 410px;
}

.slides__indicator {
	width: 88px;
	display: none;
	/*Временно для сетки*/
	min-height: 20px;
}

.slides__one {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	width: 1160px;
	/**/
	min-height: 400px;
}

.slides__info {
	width: 380px;
	/**/
	min-height: 400px;
	margin: 2px;
}

.slides__picture {
	width: 760px;
	/**/
	min-height: 400px;
	margin: 2px;
}

.content {
	width: 1180px;
	/**/
    min-height: 1200px;
}


.services__list {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin-bottom: 36px;
	/**/
	min-height: 400px;
	margin-left: 10px;
}

.services__item {
	width: 380px;
	/**/
	min-height: 347px;
}


.about {
	width: 1160px;
	margin-left: 10px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	/**/
	min-height: 500px;
}

.about__team {
	width: 660px;
	/**/
	min-height: 440px;
}

.about__facts {
	width: 360px;
	/**/
	min-height: 440px;
}

.partners__list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	width: 1160px;
	margin-left: 10px;
	/**/
	min-height: 180px;
}

.partners__item {
	width: 290px;
	margin-left: auto;

	min-height: 160px;
}


/*Сетчатые стили страницы каталога*/

.inner__page .main__title {
	display: flex;
	justify-content: center;
	width: 760px;
	 /*Временно для сетки*/
	min-height: 210px;
	margin-left: 220px;
}

.main__title h1 {
	width: 740px;
	/**/
	min-height: 46px;
}

.inner__page .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1180px;
	min-height: 2100px;
}

.sidebar {
	width: 310px;
	
	min-height: 800px;
	margin-right: auto;
}

.catalog {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 786px;
	/**/
	min-height: 1900px
}

.catalog__sort {
	width: 762px;
	margin-bottom: 45px;

	min-height: 40px;
}

.catalog__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 762px;
	/**/
	min-height: 1950px;
}

.catalog__item {
	width: 362px;
	margin-bottom: 32px;
	/**/
	min-height: 560px;
}

.catalog__pagination {
	margin-top: 20px;
	width: 770px;
	margin-left: auto;
	/**/
	min-height: 85px;
}
