html,
body {
	min-width: 1440px;
	min-height: 2476px;
	margin: 0 auto;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
	width: 1200px;

	padding: 0;
	margin: 0 auto;
}

.wrap__header {
	margin-bottom: 70px;

	min-height: 545px;
	background-color: #eeeeee;
}

.inner__page .wrap__header {
	margin-bottom: 62px;

	min-height: 350px;
}

.inner__page .header {
	margin-bottom: 3px;
	
	min-height: 100px;
}

.visually__hidden  {
	display: none;
}



.navigation {
	display: flex;
	justify-content: space-between;
	width: 1200px;
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	height: 100px;
	padding-top: 35px;
	padding-left: 20px;
}

.navigation__logo {
	width: 180px;
	height: 80px;
	padding-top: 15px;
}

.navigation__logo img:hover,
.navigation__logo img:focus {
	opacity: 0.8;
}

.navigation__logo img:active {
	opacity: 0.3;
}


.navigation__list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	width: 440px;
	list-style: none;
	height: 40px;
	margin-top: 36px;
	margin-right: 50px;
}

.navigation__list li {
	margin-right: 46px;
}

.navigation__list a {
	color:  #283136;
}

.navigation__current,
.inner__page .navigation__current {
	position: relative;
}

.navigation__current a[href],
.inner__page .navigation__current a[href] {
	pointer-events: none;
}

.navigation__current::after {
  content: "";
  width: 60px; 

  position: absolute;
 
  bottom: -2px;
  left: 1px;

  height: 3px;

  background-color: #fb565a;
}

.inner__page .navigation__current::after {
  content: "";
  width: 74px; 

  position: absolute;
  top: 31px;
  left: 2px;

  height: 3px;

  background-color: #fb565a;
}


.navigation__cart {
	color: #283136;
	display: flex;
	max-width: 140px;
	position: relative;
	padding-top: 40px;
	padding-left: 50px;
	margin-right: 42px;
}


.navigation__cart::before {
	content: url('../image/cart-icon.svg');
    position: absolute;
    top: 42px;
    left: 12px; 
}


.navigation a:hover,
.navigation a:focus {
	color: #fb565a
}

.navigation a:active {
	color: #bdbdbd;
}

.footer {
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
	min-height: 200px;
}

.footer__socials {
	display: flex;
	flex-wrap: wrap;
	min-width: 260px;
	margin-top: 60px;
	margin-left: 19px;

	padding: 0;
	
	min-height: 80px;
	list-style-type: none;
}

.socials__link {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	width: 80px;
	min-height: 80px;
	background-color: #e1e1e1;
	border-radius: 50%;	
}

.socials__link:hover,
.socials__link:focus {
	background-color: #e74246;
}

.socials__link:active {
	background-color: #d7373b;
	box-shadow: inset 0 4px 8px 0 #c13135;
}

.socials__link:active path {
	fill: #e37376;
}

.footer__discount {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 140px;
	width: 550px;
	line-height: 1;
	min-height: 80px;
}

.footer__discount p {
	color: #000000;
	font-size: 36px;
	font-weight: 500;
	text-transform: none;
	margin-top: 60px;
	padding-top: 3px;
	min-height: 35px;
}

.box__contacts p:nth-of-type(2) {
	margin-bottom: 45px;
}

.footer__discount span  {
	text-transform: none;
	font-size: 16px;
	font-weight: 300;

}

.feedback__title {
	color: #000000;
	font-size: 45px;
	font-weight: medium;
	text-transform: none;
}

.map { 
	position: relative;
	margin-top: 30px;
    width: 100%;
	height: 415px;
	background: url('../image/map.jpg') no-repeat center center #e9e5dc;
}

.inner__page .map {
	margin-top: 13px;
}

.map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 416px;
	z-index: 1;
}

.map__box {
	position: relative;
	margin: 0 auto;
	width: 1200px;
	height: 416px;
}


.box__contacts {
	position: absolute;
	top: 56px;
	left: 20px;
	width: 320px;
	height: 310px;
	z-index: 2;

	background-color: #ffffff;
	
}

.box__contacts h3 {
	font-size: 18px;

	margin-top: 50px;
	margin-left: 50px;

}

.box__contacts p {
	text-transform: none;
	text-align: left;
	padding-left: 55px;
	padding-top: 5px;
	line-height: 1.2em;
}

.btn__map {
	font: inherit;
	text-transform: uppercase;
	color: white;
	border: none;
	margin-left: 50px;
	border-radius: 4px;
	background-color: #fb565a;
	padding: 15px 45px;
}


/*Стили главной страницы*/

.slides {
	position: relative;
}

.slides__switch {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slides__switch label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slides__switch label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  
  background: #ffffff;
}

.switch__active::before {
  content: "";
  
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  
  width: 4px;
  height: 4px;
  margin: -4px;
  
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slides__list {
	padding: 0;
	margin: 0;

	list-style: none;
}

.slides__item {
	display: none;
	padding: 57px 0 80px 18px;
}

.slides__item:nth-child(1) {
  background-image: url('../image/slide__one.png');
  background-repeat: no-repeat;
  background-position: 450px -2px;
}

.slides__item:nth-child(2) {
  background-image: url('../image/slide__two.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slides__item:nth-child(3) {
  background-image: url('../image/slide__three.png');
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#switch1:checked ~ .slides__list .slides__item:nth-child(1) {
  display: block;
}

#switch2:checked ~ .slides__list .slides__item:nth-child(2) {
  display: block;
}

#switch3:checked ~ .slides__list .slides__item:nth-child(3) {
  display: block;
}

#switch1:checked ~ .slides__switch .slides__switch_item1::before,
#switch2:checked ~ .slides__switch .slides__switch_item2::before,
#switch3:checked ~ .slides__switch .slides__switch_item3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slides__item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-transform: none;
}

.slides__item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
  text-transform: none;
}

.slides a {
	display: block;
    width: 240px;
     padding: 16px 0;
  
  	font-size: 16px;
  	line-height: 18px;
  	color: #ffffff;
  	text-transform: uppercase;
  	text-align: center;
  	text-decoration: none;
  
  	background-color: #fb565a;
  	border-radius: 3px;
  	border: none;
}

.slides a:hover,
.slides a:focus,
.btn__services_sites:hover,
.btn__services_sites:focus,
.btn__map:hover,
.btn__map:focus {
	background-color: #e74246;
	text-align: center;
}

.slides a:active,
.btn__services_sites:active,
.btn__map:active {
	color: #e37376;
	background-color: #d7373b;
}

.content {
	width: 1180px;
	
    min-height: 1200px;
}

.services__list {
	display: flex;
	justify-content: space-between;
	width: 1100px;
	margin-bottom: 37px;
	
	min-height: 400px;
	margin-left: 10px;
}

.services__item {
	width: 300px;
	min-height: 347px;
	margin-top: 10px;
}

.services__item h3 {
	font-size: 24px;
	font-weight: 700;
	color: #000000;
	margin-top: 21px;
}

.services__item p {
	margin-bottom: 35px;
	text-align: left;
	text-transform: none;
	width: 246px;
	margin-top: -5px;
	margin-bottom: 47px;
}

.services__item a {
	color: #ffffff;

	padding: 15px 39px;
	border-radius: 2px;
	text-align: center;
}

.btn__services_sites {
	background-color: #fb565a;
}

.btn__services_sites:active {
	box-shadow: inset 0 4px 0 0 #c13135;
}

.btn__services_apps {
	background-color: #00ca74;
}

.btn__services_show {
	background-color: #efc84a;
}

.btn__services_apps:hover,
.btn__services_apps:focus {
	background-color: #00bc6c;
	
}

.btn__services_apps:active {
	color: #4dc491;
	background-color: #00aa62;
	box-shadow: inset 0 4px 0 0 #009958;

}

.btn__services_show:hover,
.btn__services_show:focus {
	background-color: #eab534;
}

.btn__services_show:active {
	color: #edc265;
	background-color: #e5a722;
	box-shadow: inset 0 4px 0 0 #ce961f;
}

.about {
	width: 1160px;
	margin-left: 10px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;

	min-height: 500px;
}

.about__team {
	width: 662px;

	min-height: 440px;
}

.about__team h3 {
	color: #000000;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	text-transform: none;
	text-align: left;

	margin-bottom: 34px;
	margin-top: 76px;
}

.about__team p {
	text-transform: none;
	text-align: left;
}

.about__team p:nth-of-type(2) {
	color: #000000;
	font-size: 16px;
	font-weight: 500;
	margin-top: 40px;
	margin-bottom: 25px;
 	text-transform: uppercase;	
}

.about__order {
	margin: 0;
	padding: 0;
	list-style: none;
}

.about__order li {
	background-image: url(../image/marker.png);
	background-repeat: no-repeat;
	background-position: 0 10px;
	padding-left: 35px;
	margin-bottom: 25px;
	text-transform: none;
}

.about__facts {
	width: 380px;
	/**/
	min-height: 440px;
}

.about__facts img {
	margin-top: 43px;
	margin-left: 20px;
}

.about__facts p {
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
	padding-left: 42px;
	padding-top: 13px;
	margin-bottom: 50px;
}

.about__facts ul {
	
	display: flex;
	 flex-wrap: wrap;
	 margin: 0;
	 padding: 0;
	 list-style: none;
}

.about__facts li {
	text-transform: none;
}

.about__facts li:nth-of-type(4), 
.about__facts li:nth-of-type(5), 
.about__facts li:nth-of-type(6) {

		padding-left: 20px;
}

.about__facts li:nth-of-type(1), 
.about__facts li:nth-of-type(2), 
.about__facts li:nth-of-type(3) {
	color: #000000;

	font-size: 45px;
	font-weight: 700;

	padding: 5px 5px;
	margin-bottom: 19px;
}


.partners__list {
	position: relative;

	width: 1160px;
	margin-left: 10px;

	height: 180px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}

.partners__item {
	position: absolute;
	width: 280px;
	min-height: 160px;

	opacity: 0.4;
}

.partners__item:first-of-type {
	top: 58px;
	left: 30px;
}

.partners__item:nth-of-type(2) {
	left: 325px;
	top: 43px;
}

.partners__item:nth-of-type(3) {
    top: 62px;
	left: 638px;
}

.partners__item:nth-of-type(4) {
	right: -65px;
	top: 50px;
}

.partners__item:focus,
.partners__item:hover {
	opacity: 1;
}


.partners__item:active {
	opacity: 0.1;
}



/*Стили модальных окон*/

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal {
	display: none;
	position: fixed;
	top: 5%;
	left: 15%;

    width: 960px;
    height: 590px;
    background-color: #ffffff;
    box-shadow: 10px 15px 40px 20px #d8d4d2;
    z-index: 3;
}

.modal__show {
	display: block;

	animation: bounce 0.6s;
}

.modal h2 {
	color: #000000;
	margin: 0;
	margin-left: 100px;
	padding-top: 70px;
	padding-bottom: 10px;

	font-family: inherit;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	text-transform: none;
}

.feedback__form {
	display: flex;
	flex-direction: column;
	width: 760px;
	margin-left: 100px;
}

.form__info {
	display: flex;
	justify-content: space-between;
}

.feedback__form label {
	font-size: 16px;
	color: #000000;
	text-transform: none;
	padding-bottom: 12px;
}

.feedback__item input {
    width: 360px;
    height: 45px;
    margin-bottom: 15px;
}

.feedback__item input[type="text"] {
	box-sizing: border-box;
	padding: 10px;
}

.feedback__item:first-of-type {
	margin-right: 40px;
}

.feedback__item textarea {
	box-sizing: border-box;
	padding: 10px;
	width: 760px;
	height: 118px;
	margin-bottom: 15px;
}

::-webkit-input-placeholder {color:#a1a1a1;}
::-moz-placeholder          {color:#a1a1a1;}
:-moz-placeholder           {color:#a1a1a1;}
:-ms-input-placeholder      {color:#a1a1a1;}


.feedback__item input,
.feedback__item textarea {

	border-radius: 3px;
	border: 2px solid #d7dcde;
	outline: none;
}

.feedback__item input:hover, 
.feedback__item textarea:hover {
	
	border: 2px solid #b4b9bb;
}

.feedback__item input:focus, 
.feedback__item textarea:focus {
	
	border: 2px solid #000000;
}

.btn__feedback {
	font: inherit;
	text-transform: uppercase;
	color: white;
	
	padding: 12px 80px;

	border: none;  
	border-radius: 4px;

    background-color: #fb565a;
}

.modal__close {
	position: absolute;
  	top: 78px;
  	right: 90px;


  width: 22px;
  height: 22px;

  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 22px;
  height: 4px;

  background-color: #fecccd;
}

.modal__close::before {
  transform: rotate(45deg);
}

.modal__close::after {
  transform: rotate(-45deg);
}

.modal__close:hover::before,
.modal__close:hover::after {
	background-color: #ffffff;
}

.modal__close:active::before,
.modal__close:active::after {
	background-color: #ffeeee;
}



/*Стили страницы каталога*/

.main__title h1 {
	color: #000000;
	font-size: 55px;
	margin-top: 69px;
	margin-left: 15px;
	font-weight: 500;
	text-transform: none;
}

/*Стили фильтра боковой панели каталога*/
.sidebar__filters {
	text-transform: none;
}

.filters__item {
	margin: 0;
	padding: 0;

	border: none;
} 

.sidebar__filters:last-of-type .filters__item:last-of-type {
	margin-top: 30px;
} 

.filters__title {
	margin-left: 10px;
	margin-bottom: 52px;
}

.range__filter {
	margin-bottom: 60px;
}

.range__controls {
	position: relative;

	width: 220px;
  	height: 41px;

	margin-left: 10px;
	margin-top: 35px; 
  	margin-bottom: 15px;
  	padding-top: 39px;
  	padding-right: 20px;
  	padding-left: 20px;
  	
  	background-color: #f1f1f1;
  
  	border-radius: 5px;
}

.controls__scale {
  	height: 2px;

  	background: #d7dcde;
}

.scale__bar {
	width: 70%;
  	height: 2px;

  	background: #00ca74;
}

.controls__toggle {
	position: absolute;
  	top: 31px;
  	left: 0;

	width: 4px;
  	height: 4px;
  	padding: 0;

  	border: 8px solid #ffffff;
  	background-color: #ababab;
  	border-radius: 50%;
  	box-shadow: 0 2px 1px 0 #cfcfcf;
  	cursor: pointer;
}


.toggle__min {
  	left: 50px;
}

.toggle__max {
  left: 110px;
}

.range__price {
	display: flex;
	font-size: 0;
	width: 263px;

	font-size: 16px;
  	text-transform: uppercase;
  	margin-left: 6px;
}

.range__price label {
	display: inline-block;
  	width: 136px;
}

.range__price input {
	width: 60px;
  	padding: 8px 10px;
  	margin-left: 10px;

  	border: none;
  	border-radius: 5px;
  	background: #f1f1f1;
}

.max__price {
  	text-align: right;
}


.controls__toggle_min {
	left: 18px;
}

.controls__toggle_max {
	left: 160px;
}


.filters__title,
.catalog__sort_title {
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}

.filter__input:hover + label,
.filter__input:focus + label {
	color: #000000;
}


.filter__input_checkbox + label::before {
	content: url('../image/checkbox-off.svg'); 
  	position: absolute;

  	left: -35px;
  	top: -1px;
  }

  .filter__input_checkbox + label:hover::before {
	content: url('../image/checkbox-off - hover.svg'); 
  	position: absolute;

  	left: -35px;
  	top: -1px;
  }

.filter__input_checkbox:checked + label::before {
	content: url('../image/checkbox-on.svg'); 
  	position: absolute;

  	left: -35px;
  	top: -1px;
  }

.filter__input_checkbox:checked + label:hover::before {
	content: url('../image/checkbox-on - hover.svg'); 
  	position: absolute;

  	left: -35px;
  	top: -1px;
  }

.filter__input_disabled:checked + label::before {
	content: url('../image/checkbox-on - disabled.svg');
	position: absolute;

  	left: -35px;
  	top: -1px;
}

.filter__input:disabled + label {
	color: #bec1c2;
	opacity: 0.5;
}

.filter__input_radio + label::before {
  content: url('../image/radio-off.svg');

  position: absolute;
  left: -42px;
  top: -1px;
 }

.filter__input_radio + label:hover::before {
  content: url('../image/radio-off - hover.svg');

  position: absolute;
  left: -42px;
  top: -1px;
 }

 .filter__input_radio:checked + label:hover::before {
  content: url('../image/radio-on - hover.svg');

  position: absolute;
  left: -42px;
  top: -1px;
 }

.filter__input_radio:checked + label::before {
  content: url('../image/radio-on.svg');

  position: absolute;
  left: -42px;
  top: -1px;
 }


.filters__title {
	margin-bottom: 17px;
}

.filter__option {
	margin: 0;
	margin-left: 19px;
	
	padding-left: 27px;
	padding-bottom: 16px;
}

.filter__option label {
	position: relative;

  	display: block;

  	cursor: pointer;
  	user-select: none;
}


.inner__page .main__title {
	display: flex;
	justify-content: center;
	width: 760px;
	
	min-height: 210px;
	margin-left: 220px;
}

.main__title h1 {
	width: 740px;

	min-height: 46px;
}

.inner__page .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1180px;
	min-height: 2100px;
}

.catalog__item:hover {
	box-shadow: 0 0 12px 5px #e5e5e5;
}

.catalog__item_box p {
	line-height: 1.2em;
	text-transform: none;
	width: 240px;
	text-align: center;
	margin-bottom: 28px;
}

.sidebar {
	width: 310px;
	
	min-height: 800px;
	margin-right: auto;
}

.range__controls {
	font-size: 16px;
  	line-height: 24px;
  	font-weight: 400;
  	color: #000000;
}


.sidebar__btn {
	font: inherit;
	text-transform: uppercase;

	width: 260px;
	color: #000000;
	background-color: #eeeeee;
	text-align: center;
	padding: 15px 0px;
	border-radius: 4px;
	margin-top: 30px;
	margin-left: 10px;

	border: none;
	cursor: pointer;
}

.sidebar__btn:hover,
.sidebar__btn:focus {
	background-color: #dfdfdf;
}

.sidebar__btn:active {
	color: #c1c1c1;
	background-color: #d5d5d5;
	
	box-shadow: inset 0 2px 0 0 #bfbfbf;
	
}

.catalog {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 786px;
	/**/
	min-height: 1900px;
}

.catalog__sort {
	display: flex;
	width: 762px;
	margin-bottom: 76px;

	min-height: 40px;
}

.catalog__sort div {
	width: 360px;
	display: flex;
	justify-content: space-between;
	margin-left: 268px;
}

.option__link {
	color: #b2b2b2;
}

.option__link_current {
	color: #000000;
}

.option__link:hover,
.option__link:focus,
.option__link_down path:hover,
.option__link_down path:focus,
.option__link_up path:hover,
.opyion__link_up path:focus {
	color: #666666;
	fill:  #666666;
}

.option__link:active,
.option__link:active,
.option__link_down path:active,
.option__link_up path:active {
	color: #000000;
	fill: #000000;
}


.catalog__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 762px;
	
	min-height: 1950px;
}

.catalog__item {
	position: relative;
	width: 362px;
	height: 575px;

    margin-right: -4px;
    margin-left: 4px;
    margin-bottom: 30px;
}

.catalog__item::before {
	content: "";

	position: absolute;
	top: -40px;
	left: 0;

	width: 360px;
	height: 40px;

	background-image: url('../image/browser.svg');
	background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.3;
}

.catalog__item:hover::before {
	opacity: 1;
	box-shadow: 0 -3px 7px 1px #e5e5e5;
}

.catalog__item_box {
	display: flex;
	flex-direction: column;
	align-items: center; 
	position: absolute;
	bottom: -1px;
	background-color: #eeeeee;

	width: 362px;
	min-height: 237px;
	opacity: 0;
}

.catalog__item_box .box__title {
	margin-top: 36px;
	margin-bottom: 0px;
}

.catalog__item:hover .catalog__item_box {
	opacity: 1;
}

.box__button {
	color: #ffffff;
	background-color: #fb565a;
	padding: 14px 62px;
	border-radius: 4px;
}

.box__button:hover,
.box__button:focus {
	background-color: #e74246;
}

.box__button:active {
	background-color: #d7373b;
	box-shadow: inset 0 2px 0 0 #c13135;
}

.catalog__pagination {
	display: flex;
	margin-top: -4px;
	width: 770px;
	margin-left: auto;
	
	min-height: 58px;
}

.catalog__pagination span { 
	color: #000000;
	border: 4px solid #dbdbdb;
	border-radius: 4px;
	padding: 13px 17px;
	margin-right: 11px;
}

.catalog__pagination a:not(.catalog__pagination_next) {
	color: #000000;
	background-color: #eeeeee;
	border-radius: 4px;
	margin-right: 11px;
	padding: 17px 21px;
}

.catalog__pagination_next {
	color: #000000;
	background-color: #eeeeee;
	border-radius: 2px;
	padding:  17px 70px
}

.catalog__pagination a:hover,
.catalog__pagination a:focus {
	background-color: #dfdfdf;
}

.catalog__pagination_next:active,
.catalog__pagination a:active {
	color: #bfbfbf;
	box-shadow: inset 0 2px 0 0 #bfbfbf;
	background-color: #d5d5d5;
}

