/*
.container {
	outline: 2px solid red;
}


.wrap__header {
	outline: 2px solid green;
}

.wrap__header::before {
	content:'.wrap__header';
	color: green;
    position: absolute;
    left: 0;
    top: 0;
    border: 2px solid green;
    font-weight: bold;
}

.header {
	outline: 2px solid #000000;
	}

.header::before {
	content:'.header';
	color: #000000;
    position: absolute;
    right: 0;
    top: 0;
    border: 2px solid #000000;
    font-weight: bold;
}

.navigation {
	outline: 2px solid #ba3d21;
}

.navigation::before {
	content:'.navigation'
	color: #ba3d21;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 2px solid #ba3d21;
    font-weight: bold;
}

.navigation__logo {
	outline: 2px solid yellow;
	background-color: yellow;
	opacity: 0.5;
}

.navigation__logo::before {
	content:'.navigation__logo';
	color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid yellow;
    font-weight: bold;
}



.navigation__list {
	outline: 2px solid yellow;
	background-color: yellow;
	opacity: 0.5;
}

.navigation__cart {
	outline: 2px solid yellow;
}

.slides__indicator {
	outline: 2px #c2c2c2;
	background-color: #c2c2c2;
	opacity: 0.5;
}

.slides {
	outline: 2px solid blue;
}

.slides::before {
	content:'.slides';
	color: white;
    position: absolute;
    top: 20,5%;
    left: 10%;
    background-color: blue;
    border: 2px solid blue;
    font-weight: bold;
}

.slide__one {
	outline: 2px solid #1a4563;
}

.slides__one::before {
	content:'.slides_one';
	color: white;
    position: absolute;
    top: 20,5%;
    left: 33%;
    background-color: blue;
    border: 2px solid blue;
    font-weight: bold;
}

.slides__info {
	outline: 2px solid #71add3;
	background-color: #71add3;
	opacity: 0.5;
}

.slides__picture {
	outline: 2px solid #71add3;
	background-color: #71add3;
	opacity: 0.5;
}

.content {
	outline: 2px solid green;
}

.services__list {
  outline: 2px solid darkorange; 
}

.services__item {
	outline: 2px solid orange;
} 

.about {
	outline: 2px solid darkmagenta;
}

.about__team, .about__facts {
	outline: 2px solid magenta;
}

.partners__list {
	outline: 2px solid aqua;
}

.partners__item {
	outline: 2px solid lightskyblue;
}

.map {
	outline: 2px solid lime;
}

.map__box {
	outline: 2px solid limegreen;
}

.footer {
	outline: 2px solid brown;
}

.footer__socials, .footer__discount {
	outline: 2px solid peru;
}

*/




body {
  padding: 3px;
}


body > *,
body > * > *,
body > * > * > *,
body > * > * > * > *,
body > * > * > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before,
body > * > * > * > *::before,
body > * > * > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: lowercase;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * > * > * > *::before {
  top: 0;
  left: 0;
}

body > * > * > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

body > * > * > * > * {
  background: rgba(0, 0, 255, 0.2);
  box-shadow: inset 0 0 0 2px blue;
}

body > * > * > * > *::before {
  color: white;

  background: blue;
}

body > * > * > * > * > * {
  background: rgba(128, 0, 128, 0.2);
  box-shadow: inset 0 0 0 2px purple;
}

body > * > * > * > * > *::before {
  color: white;

  background: purple;
}


body > *::before,
body > * > *::before,
body > * > * > *::before,
body > * > * > * > *::before,
body > * > * > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: lowercase;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

 

.wrap__header::before {
  content: ".wrap__header";
  top: -28px;
}

.wrap__header::before {
  top: auto;
  bottom: -28px;
}

.header::before {
	content: ""
	top: auto;
	left: auto;
	right: 100%;
	bottom: 90%;
}

.header::before {
  content: ".header";
  top: auto;
  bottom: 0;
}

.container::before {
  content: ".container";
}

.navigation::before {
  content: ".navigation";
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
}

.navigation__list::before {
  content: ".navigation__list";
}

.navigation__cart::before {
  content: ".navigation__cart";
}

.navigation__logo::before {
  content: ".navigation__logo";
}

.main__title::before {
	content: ".main__title";
}

.main__title h1::before {
	content: ".main__title h1";
}

.slides::before {
	content: ""
	top: auto;
	left: auto;
	right: 100%;
	bottom: 100%;
}

.slides::before {
	content: ".slides"
}

.slides__picture::before {
  content: ".slides__picture";
}

.slides__info::before {
  content: ".slides__info";
}

.sidebar::before {
	content: ""
	top: auto;
	left: auto;
	right: 0%;
	bottom: auto;
}


.sidebar::before {
	content: ".sidebar"
}

.catalog::before {
	content: ""
	top: auto;
	left: 0%;
	right: auto;
	bottom: auto;
}

.catalog::before {
	content: ".catalog"
}

.catalog__sort::before {
	content: ""
	top: auto;
	left: auto;
	right: 0%;
	bottom: 100%;
}

.catalog__sort::before {
	content: ".catalog__sort"
}


.catalog__item::before {
	content: ".catalog__item"
}

.catalog__pagination::before {
	content: ".catalog__pagination"
}

.services__list::before {
	content: ""
	top: auto;
	left: auto;
	right: 100%;
	bottom: 100%;
}

.services__list::before {
	content: ".services__list"
}

.services__item::before {
	content: ".services__item"
}

.about::before {
	content: ""
	top: auto;
	left: auto;
	right: 100%;
	bottom: 100%;
}

.about::before {
	content: ".about" 
}

.about__team::before {
	content: ".about__team"
}

.about__facts::before {
	content: ".about__facts"
}

.partners__list::before {
	content: ".partners__list"
}

.partners__item::before {
	content: ".partners__item"
}

.map::before {
	content: ".map"
}

.map__box::before {
	content: ".map__box"
}

.footer__socials::before {
	content: ".footer__socials"
}

.footer__discount::before {
	content: ".footer__discount"
}










